.card-style {
    height: 600px;
}
.card-style img{
    width: 400px;
    height: 200px;
}
.card-style img:hover{
    background-color: #000000; 
    opacity: 0.6; 
    transition: all .5s ease-in-out;

    
}