.nav-img img{
    width: 150px;
    height: 70px;
}
.nav-style {
    color: white;
    background-color: #344e41;
}

.nav-menu{
    color: white;
    border: 1px solid gray;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
}